.sider
  .inner-menu
    ul
      li
        a(href=`/${prefixAdmin}/dashboard`) Dashboard
      li
        a(href=`/${prefixAdmin}/topics`) Topics management
      li
        a(href=`/${prefixAdmin}/songs`) Songs management
      li
        a(href=`/${prefixAdmin}/singers`) Singers management
      li
        a(href=`/${prefixAdmin}/roles/permissions`) Decentralization
      li
        a(href=`/${prefixAdmin}/accounts`) Admin accounts
      li
        a(href=`/${prefixAdmin}/users`) User accounts
      li
        a(href=`/${prefixAdmin}/settings/general`) General settings