.sider
  .inner-menu
    ul
      li
        a(href=`/${adminPrefix}/dashboard`) Dashboard
      li
        a(href=`/${adminPrefix}/topics`) Topics management
      li
        a(href=`/${adminPrefix}/songs`) Songs management
      li
        a(href=`/${adminPrefix}/singers`) Singers management
      li
        a(href=`/${adminPrefix}/roles/permissions`) Decentralization
      li
        a(href=`/${adminPrefix}/accounts`) Admin accounts
      li
        a(href=`/${adminPrefix}/users`) User accounts
      li
        a(href=`/${adminPrefix}/settings/general`) General settings